.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
release
yarn.lock
bun.lockb
package-lock.json
prePublish.sh
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
